.hp-house-Gryffindor {
    background-color: #7f0909; /* Rojo oscuro */
    color: #fff;
  }
  
  .hp-house-Slytherin {
    background-color: #0d6217; /* Verde oscuro */
    color: #fff;
  }
  
  .hp-house-Ravenclaw {
    background-color: #222f5b; /* Azul oscuro */
    color: #fff;
  }
  
  .hp-house-Hufflepuff {
    background-color: #ecb939; /* Amarillo */
    color: #000;
  }
  
  .hp-house-unknown {
    background-color: #444; /* Para personajes sin casa conocida */
    color: #fff;
  }
  