.c-lista {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.c-lista-pokemon {
    background-color: #f4f4f4;
    width: calc(50% - 10px);
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    cursor: pointer;
}

.c-lista-pokemon:hover {
    transform: scale(1.03);
}

.c-lista-pokemon img {
    border-radius: 50%;
    object-fit: cover;
    max-height: 80px;
    margin-bottom: 5px;
}

/* Colores por casa */
.hp-house-Gryffindor {
    background-color: #7f0909; /* rojo oscuro */
    color: white;
}

.hp-house-Slytherin {
    background-color: #0d6217; /* verde oscuro */
    color: white;
}

.hp-house-Ravenclaw {
    background-color: #222f5b; /* azul oscuro */
    color: white;
}

.hp-house-Hufflepuff {
    background-color: #ffdb00; /* amarillo */
    color: #000;
}

.hp-house-unknown {
    background-color: #d3d3d3;
    color: #000;
}
